@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Easter egg!</p>
<img src="https://media.tenor.com/OHaE1lX1tG4AAAAM/travis-fran-healy.gif" alt="Privacy GIF" style="width:700px;" />